[Unit]
Description=Pi Volumio epaper
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=/usr/bin/python -u /home/volumio/pi-ZERO-volumio-epaper/pi-volumio-epaper.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=volumioepaper
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target